.header 
	font-family roboto
	font-size 1.5rem
	background: #ebf7fa;
	background: -moz-linear-gradient(top, #ebf7fa 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf7fa), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ebf7fa 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #ebf7fa 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ebf7fa 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #ebf7fa 0%,#ffffff 100%);
	&__content
		margin 0 auto
		max-width 99rem
		padding 1.1rem 0
	&__info
		display flex
		flex-direction row
		justify-content flex-start
		flex-wrap wrap


		
.logo
	margin-right 4rem
	&__position
		margin-left 10px
		margin-top 13px
	&__svg
		display inline-block
		width 11px
		height 14px
	&__city
		display inline-block
		line-height 15px
		color blue
		

.entrance
	max-width 57.6rem
	margin 0 auto
	margin-bottom 0.6rem
	&__link
		display inline-block
		font-size 1.5rem
		color gray
		text-decoration none
		margin-right 0.4rem

.search
	position relative
	&__input
		width 29.7rem
		height 3.7rem
		padding 1rem 1.4rem
		margin-top 0.4rem
		border 2px solid #E1E9EB
		background-color #EFF8FB
	&__svg
		width 100%
		height 100%
		color blue
	&__btn
		padding 0
		border none
		width 1.6rem
		height 1.6rem
		position absolute
		top 15px
		right 10px
		background none
		
.numb
	margin-top 3.2rem
	&__svg
		width 11px
		height 14px
		display inline-block
	&__tel
		display inline-block
		margin 0 1rem
		font-family roboto
		font-weight 500
		color blue
		
.control
	padding-top 11px
	margin-left 4rem
	&__like
		margin-right 7px
		width 18px
		height 16px
		display inline-block
	&__filters
		margin-right 9px
		width 11px
		height 16px
		display inline-block
	&__link
		margin 0
		color blue
		display inline-block
	&__notice
		display inline-block
		background-color #F35F10
		border-radius 50%
		width 16px
		height 16px
		text-align center
		color #fff
		margin 0
		margin-left 7px
		margin-right 20px
		
.time
	margin-top 43px
	&__icon
		margin-right 7px
		width 14px
		height 14px
		display inline-block
	&__text
		margin 0
		color blue
		display inline-block
	
.buy
	
	&__icon
		position absolute
		top 10px
		left 15px
		width 18px
		height 18px
	&__btn
		position relative
		display block
		background-color #F35F10
		color #fff
		width 145px
		height 40px
		border-radius 5px
		text-align center
		line-height 40px
	&__order
		display block
		margin-top 32px
		color blue
		text-align center
	&__notice
		position absolute
		top 12px
		right 15px
		background-color #FFF
		border-radius 50%
		width 16px
		height 16px
		text-align center
		color #fff
		margin 0
		line-height 16px
		color #F35F10
		
.menu
	margin-top 27px
	margin-bottom 12px
	&__item
		color black
		margin 10px
		text-decoration none