
// ==========================================
//
// 		Все переменные проекта
//
// ==========================================

tablet = 768px
laptop = 992px
desktop = 1170px

roboto = 'roboto', arial, verdana


red = #b70000
brown = #2e080d
grey = #bababa
blue = #465074
dark-blue = #272c4c
black-blue = #0d142d
pink = #a75886
light-pink = #c3999c

gray = #6C6C6C
blue = #0E94C8