
// ==========================================
//
// 		Подключаемые шрифты
//
// ==========================================


@font-face
	font-family 'roboto'
	font-style normal
	font-weight normal
	src url('../fonts/Roboto-Regular.woff'), url('../fonts/Roboto-Regular.woff2')

@font-face
	font-family 'roboto'
	font-style normal
	font-weight 500
	src url('../fonts/Roboto-medium.woff'), url('../fonts/Roboto-medium.woff2')